<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{content}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>

  <p>
  <div class="blog-list">
    <button class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button>
  </div><br><br>
  <div >
    <label for="newName">Name:</label>
    <input type="text" id="newName">
    <label for="newCpntent">Content:</label>
    <input type="text" id="newContent">
    <div class="update">
    <br><button class="btn btn-sm" data-id="{{id}}">UPDATE</button>
    </div>
  </div>
  </p>
</div>


<script src="../js/blog.js"></script>