<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{content}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>

  <p>
    <div class= "blog-list">
     <button class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button>
    </div>
    <button class="btn btn-primary">update</button>
  </p>
</div>


<script src="./js/blog.js"></script>